@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

div.container {
  display: block;
  position: relative;
  /* align-self: left; */
  width: 52.5rem;
  height: 27.5rem;
  margin-top: 8%;
  background-color: rgba(255, 255, 255, 0.25);
  border: 0.5px solid rgba(255, 255, 255, 0.55);
  border-radius: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

h1 {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 3.5px rgba(15, 0, 28, 0.3);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.6rem;
  font-style: italic;
  letter-spacing: 0.15rem;
  margin-top: 3.5%;
  margin-bottom: 5%;
}

input {
  display: inline-block;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  border: 0.5px solid rgba(255, 255, 255, 0.55);
  outline: none;
  display: inline-block;
  width: 33.5rem;
  height: 5rem;
  margin-bottom: 2%;
}


#jmbg {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  -webkit-text-fill-color: #ffffff;
  letter-spacing: 0.4rem;
  text-align: center;
}

/* Refresh Button */
.btn-1 {
  display: inline-block;
  padding: 0.4rem;
  margin-left: 63.5%;
  margin-top: -15.5%;
  vertical-align: middle;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background-color: #6d49c9;
  cursor: pointer;
  transition: all .2s ease;
}

.btn-1:hover {
  background-color: #7f56e7;
}

.btn-1:active {
  background-color: #6d49c9;
  box-shadow: 0 1px 2px #00000000;
}

.material-icons.md-36 {
  font-size: 1.75rem;
  color: #ffffff;
  float: left;
}

.material-icons.md-36:active {
  color: #ffffff;
  font-style: bold;
}

/* Saznaj Datum Button */
.btn-2 {
  display: inline-block;
  text-align: center;
  justify-content: center;
  border: none;
  width: 20rem;
  height: 4rem;
  line-height: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: rgb(255, 255, 255);
  background: #5619b9;
  background: linear-gradient(0deg, #5619b9 0%, #8243e7 100%);
  overflow: hidden;
  box-shadow: inset 0px 1px 1px 0px rgba(216, 184, 255, 0.5),
  5px 5px 10px 0px rgba(0, 0, 0, 0.1),
  2px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  margin-bottom: 4%;
  cursor: pointer;
}

.btn-2:hover {
  text-decoration: none;
  color: #fff;
}

.btn-2:before {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  content: "";
  display: inline-block;
  top: -180px;
  margin-left: -8%;
  width: 30px;
  height: 100%;
  background-color: rgba(196, 107, 255, 0.5);
  animation: shiny-btn1 5s ease-in-out infinite;
}

.btn-2:hover {
  opacity: 0.75;
}

.btn-2:active {
  background: linear-gradient(0deg, #5619b9 0%, #6c37c0 100%);
  box-shadow: -2px -2px 3px 0 rgba(116, 125, 136, 0.2);
}

@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

/* Rezultat Section */
p {
  border-radius: 0 0 2rem 2rem;
  background-color: rgba(255, 255, 255, 0.45);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  width: 52.5rem;
  height: 5rem;
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: -1px;
  left: -1px;
}

#rezultat {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  font-style: italic;
  letter-spacing: 0.05rem;
  color: #5e3bb7;
  line-height: 4.75rem;
}

/* Animated background */
.background-custom {
  background: linear-gradient(90deg, #cd5fa6, #4c43c2, #9b31d0);
  /* background: linear-gradient(90deg, #cd5fa6, #9643c5, #544cc3, #8847f8, #b13dec); */
  /* background: linear-gradient(90deg, #e56294, #6058d2, #b84fec); */
  background-size: 300% 300%;
  animation: gradient 4s alternate infinite;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

/* //////////////////////////////////////////////////// */
/* Responsiveness */
@media screen and (max-width: 992px) {
  div.container {
    width: 37.5rem;
    height: 19.5rem;
    margin-top: 10%;
    /* border: 0.5px solid rgba(255, 255, 255, 0.55); */
    border-radius: 1.5rem;
  }

  h1 {
    text-shadow: 0px 2px 3.5px rgba(15, 0, 28, 0.3);
    font-size: 1.85rem;
    letter-spacing: 0.15rem;
    margin-top: 3.5%;
    margin-bottom: 4.5%;
  }

  input {
    border-radius: 0.75rem;
    /* border: 0.5px solid rgba(255, 255, 255, 0.55); */
    width: 24rem;
    height: 3.5rem;
    margin-bottom: 1%;
  }

  #jmbg {
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
  }

  /* Refresh Button */
  .btn-1 {
    padding: 0.3rem;
    margin-left: 63.5%;
    margin-top: -15%;
  }

  .material-icons.md-36 {
    font-size: 1.25rem;
  }

  /* Saznaj Datum Button */
  .btn-2 {
    width: 14.5rem;
    height: 3rem;
    line-height: 1rem;
    /* font-weight: 800; */
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  /*   box-shadow: inset 0px 1px 1px 0px rgba(216, 184, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.1),
    2px 2px 3px 0px rgba(0, 0, 0, 0.1); */
    border-radius: 1.5rem;
    margin-bottom: 5.5%;
    margin-left: -0.1%;
  }

  .btn-2:before {
    margin-top: -4.25%;
    margin-left: -12%;
    width: 30px;
    height: 120%;
  }

  .btn-2:active {
    box-shadow: -2px -2px 3px 0 rgba(116, 125, 136, 0.2);
  }

  /* Rezultat Section */
  p {
    border-radius: 0 0 1.5rem 1.5rem;
    /* border: 0.5px solid rgba(255, 255, 255, 0.5); */
    width: 37.5rem;
    height: 3.5rem;
    /* position: absolute;
    bottom: -1px;
    left: -1px; */
  }

  #rezultat {
    font-size: 1.15rem;
    letter-spacing: 0.05rem;
    line-height: 3.5rem;
  }
}

/* //////////////////////////////////////////////////// */
@media screen and (max-width: 600px) {
  div.container {
    width: 22.5rem;
    height: 11.7rem;
    margin-top: 10%;
    border: 0.4px solid rgba(255, 255, 255, 0.55);
    border-radius: 1rem;
  }

  h1 {
    text-shadow: 0px 1.5px 2px rgba(15, 0, 28, 0.3);
    font-size: 1.1rem;
    letter-spacing: 0.09rem;
    margin-top: 3%;
    margin-bottom: 3.5%;
  }

  input {
    border-radius: 0.5rem;
    border: 0.4px solid rgba(255, 255, 255, 0.55);
    width: 14.5rem;
    height: 2.1rem;
    margin-bottom: -2%;
  }

  #jmbg {
    font-size: 0.65rem;
    letter-spacing: 0.2rem;
  }

  /* Refresh Button */
  .btn-1 {
    padding: 0.2rem;
    margin-left: 64%;
    margin-top: -10.75%;
  }

  .material-icons.md-36 {
    font-size: 0.75rem;
  }

  /* Saznaj Datum Button */
  .btn-2 {
    width: 8.75rem;
    height: 2rem;
    line-height: 0.75rem;
    /* font-weight: 800; */
    font-size: 0.55rem;
    letter-spacing: 0.1rem;
    box-shadow: inset 0px 0.75px 0.75px 0px rgba(216, 184, 255, 0.5),
    3px 3px 7px 0px rgba(0, 0, 0, 0.1),
    1.5px 1.5px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    margin-bottom: 5.5%;
  }

  .btn-2:before {
    margin-top: -8.5%;
    margin-left: -19%;
    width: 30px;
    height: 140%;
  }

  .btn-2:active {
    box-shadow: -1.5px -1.5px 2px 0 rgba(116, 125, 136, 0.2);
  }

  /* Rezultat Section */
  p {
    border-radius: 0 0 1rem 1rem;
    border: 0.4px solid rgba(255, 255, 255, 0.5);
    width: 22.5rem;
    height: 2.1rem;
    /* position: absolute;
    bottom: -1px;
    left: -1px; */
  }

  #rezultat {
    font-size: 0.75rem;
    letter-spacing: 0.04rem;
    line-height: 2rem;
  }
}

/* //////////////////////////////////////////////////// */
@media screen and (max-width: 360px) {
  div.container {
    width: 17.5rem;
    height: 9.5rem;
    margin-top: 10%;
    border: 0.3px solid rgba(255, 255, 255, 0.55);
    border-radius: 0.75rem;
  }

  h1 {
    text-shadow: 0px 0.75px 1.5px rgba(15, 0, 28, 0.3);
    font-size: 0.85rem;
    letter-spacing: 0.07rem;
    margin-top: 3%;
    margin-bottom: 2.75%;
  }

  input {
    border-radius: 0.45rem;
    border: 0.3px solid rgba(255, 255, 255, 0.55);
    width: 11.25rem;
    height: 1.65rem;
    margin-bottom: -3.75%;
  }

  #jmbg {
    font-size: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
  }

  /* Refresh Button */
  .btn-1 {
    padding: 0.15rem;
    margin-left: 64%;
    margin-top: -12.5%;
  }

  .material-icons.md-36 {
    font-size: 0.6rem;
  }

  /* Saznaj Datum Button */
  .btn-2 {
    width: 6.75rem;
    height: 1.55rem;
    line-height: 0.5rem;
    font-weight: 800;
    font-size: 0.45rem;
    letter-spacing: 0.05rem;
    box-shadow: inset 0px 0.5px 0.5px 0px rgba(216, 184, 255, 0.5),
    2px 2px 5px 0px rgba(0, 0, 0, 0.1),
    1px 1px 1.5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    margin-bottom: 4.75%;
    margin-left: -0.1%;
  }

  .btn-2:before {
    margin-top: -11%;
    margin-left: -26%;
    width: 30px;
    height: 140%;
  }

  .btn-2:active {
    box-shadow: -1px -1px 1.5px 0 rgba(116, 125, 136, 0.2);
  }

  /* Rezultat Section */
  p {
    border-radius: 0 0 0.75rem 0.75rem;
    border: 0.3px solid rgba(255, 255, 255, 0.5);
    width: 17.5rem;
    height: 1.65rem;
    /* position: absolute;
    bottom: -1px;
    left: -1px; */
  }

  #rezultat {
    font-size: 0.6rem;
    letter-spacing: 0.02rem;
    line-height: 1.5rem;
  }
}